@page "/"

<div class="w3-container">
    <div class="w3-panel w3-green">
        <h3>Blazor</h3>
        <p>Welcome back to Blazor Mail</p>
    </div>
</div>

<div class="w3-container">

    <div class="w3-animate-bottom">
        <div class="w3-card">
            <p>This is just a test application running Blazor 0.6.0 &amp; OR 0.7.0</p>
            <p>Theme was downloaded from W3Schools. https://www.w3schools.com/w3css/tryw3css_templates_mail.htm#</p>

            <br />
            <p>It doesn't have any validation for the forms.</p>
        </div>
    </div>

</div>


<div class="w3-container">

    <div class="w3-animate-bottom">
        <div class="w3-card">
            <p>Bootstrap was removed and replaced with W3.css</p>
            <a href="https://github.com/JaniRefsnes/w3css">Github W3.css</a>
        </div>
    </div>

</div>

